/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

laravel-echo-server.json
laravel-echo-server.lock

/public/mix-manifest.json
/public/fonts/vendor/*
/public/css/app.css
/public/js/app.js
/public/js/app.js.LICENSE.txt
/public/js/popper.js
/public/js/popper.js.LICENSE.txt
/public/vendor/
