// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Noto Sans JP', system-ui, -apple-system, sans-serif;
$h1-font-size: 2.0rem;
$h2-font-size: 1.7rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

$primary: #3090DA;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    'playerOrder-1': #4B8F9F,
    'playerOrder-2': #7C4C6C,
    'playerOrder-3': #E9BC2D,
    'playerOrder-4': #AD332F,
    'card-building': #7F533A,
    'card-public': #1A2640,
    'card-goods': #1E4E3A
);
